.home {
  height: 95vh;
  //   padding-top: 8rem;
  //   padding-right: 8rem;
  //   padding-left: 8rem;
  //   background-image: linear-gradient(
  //     to right bottom,
  //     rgba($color-primary-light, 0.8),
  //     rgba($color-primary-dark, 0.8)
  //   );
}

.container {
  height: 100%;
  margin: 0 auto;
  box-shadow: var(--shadow-dark);
  border-radius: 3px;
}

.home-content {
  display: flex;
}

.home-view {
  background-color: var(--color-white);
  flex: 1; //grow as much as it can
  height: 90vh;
}
