.gallery-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  position: relative;

  &__card {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    border: 2px solid var(--color-primary-dark);
    border-radius: 3px;
    color: var(--color-white);
    font-size: 3rem;
  }
  img {
    background-size: cover;
  }

  button {
    visibility: hidden;
    position: absolute;
    top: 40%;
    left: 30%;
  }
}

.gallery-grid div {
  position: relative;
  cursor: pointer;
  &:before,
  &:after {
    transition: 0.3s opacity ease;
    opacity: 0;
  }
  &:after {
    font-size: 80px;
    position: absolute;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    color: #fff;
    left: 50%;
    top: 50%;
    display: block;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: rgba(#222, 0.5);
    display: block;
  }
  &:hover {
    &:before,
    &:after {
      opacity: 1;
      transition: 0.3s opacity ease;
    }
  }
  &:hover {
    button {
      visibility: visible;
      z-index: 100;
    }
  }
}
