.events {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.8),
    rgba($color-primary-dark, 0.8)
  );
  border-radius: 2rem;
  a {
    width: 25rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  &__upcoming {
    margin-left: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);

    &__info {
      width: 50%;
      font-size: 3rem;
    }
    &__photo {
      background-size: cover;
      box-shadow: var(--shadow-dark);
      border-radius: 3px;
      border: 2px solid var(--color-white);
    }
    &__date {
      width: 15rem;
      height: 15rem;
      margin-right: 10rem;
      text-align: center;
      background-image: linear-gradient(
        to right bottom,
        rgba($color-grey-light-1, 0.8),
        rgba($color-primary-dark, 0.8)
      );
      font-size: 45px;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      display: block;
      border-radius: 0 0 10px 10px;
      -moz-border-radius: 0 0 10px 10px;
      -webkit-border-radius: 0 0 10px 10px;
      padding: 6px 0 6px 0;
      box-shadow: var(--shadow-dark);

      h4 {
        width: 100%;
        color: var(--color-primary-dark);
        background: white;
      }
    }
    // &__title {
    //   font-size: 3rem;
    //   color: var(--color-white);
    // }
    // &__photo {
    //   width: 45%;
    //   border-radius: 3px;
    //   border: 2px solid var(--color-white);
    // }
  }
}
